body {
    font-family: 'Klee One', cursive;
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(whitesmoke, grey);

}

.headingbg{
    background-image: url("/Q3/images/lumine.jfif");
    background-size:contain
}

#headin{
    border: 2px solid grey;
    padding-bottom: 7px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.rarity{
    padding: 20px 20px 0px 20px;
}

table{
    text-align: left;
    padding-left: 20px;
    width:400px;
    /* display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray; */
}

.gidesc{
    padding: 0px 20px 0px 20px;
}

#titledesc{
    padding-left: 20px;
    padding-top: 20px;
}

#mainimg{
    margin-left: auto;
    margin-right: auto;
}